<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Роль</th>
        <th>Активный</th>
        <th>Дата регистрации</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.status}"></td>
        <td th:text="${#dates.format(user.createdAt, 'dd-MM-yyyy')}"></td>
        <td><a th:href="@{/user/{id}/edit(id=${user.id})}">Редактировать</a></td>
    </tr>
    </tbody>
</table>
</br>
<p><a href="/user">Пользователи</a></p>
</body>
</html>