<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<h1>Пользователи</h1>
<br>
<table>
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Роль</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.role}"></td>
        <td><a th:href="@{/user/{id}(id=${user.id})}">Информация</a></td>
    </tr>
    </tbody>
</table>
<br>
<p><a href="/login">Выйти</a></p>
<br>
<div th:if="${#request.isUserInRole('ADMIN')}">
    <p><a href="/user/new">Добавить</a></p>
</div>
</body>
</html>